@{
    ViewBag.Title = "Welcome To Learning Lab";
}
<div class="container" id="appendWord">
    <div class="text-center">
        <h2><b>Word of the day</b></h2>
    </div>



</div>

@section scripts {
<script src="~/customJs/DailyWordJs.js"></script>
  

}


