@{
    ViewBag.Title = "Welcome To Learning Lab";
}

<div class="container">
    <div class="text-center">
        <h2><b>Latest Blogs</b></h2><hr />
    </div>
    <div id="bloPost">


    </div>



</div>

@section scripts {

 
<script src="~/customJs/DisplayBlogJs.js"></script>
}

